<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Controller.IniciarSesion.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Controller.UsuarioDao.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDocumento</servlet-name>
        <servlet-class>Controller.DocumentoDao.ActualizarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDocumento</servlet-name>
        <servlet-class>Controller.DocumentoDao.EliminarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImagen</servlet-name>
        <servlet-class>Controller.Controlador.ControladorImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.productoDao.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>Controller.EliminarProducto.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAdministrador</servlet-name>
        <servlet-class>Controller.AdministradorDao.RegistrarAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionAdministrador</servlet-name>
        <servlet-class>Controller.IniciarSesionAdministradorDao.IniciarSesionAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperarContraseña</servlet-name>
        <servlet-class>Controller.IniciarSesion.recuperarContraseña</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>literal</servlet-name>
        <servlet-class>Controller.Controlador.literal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarContrasenia</servlet-name>
        <servlet-class>Controller.RecuperarContraseñaDao.RecuperarContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Controller.SendMailDao.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadirAlCarrtio</servlet-name>
        <servlet-class>Controller.productoDao.AñadirAlCarrtio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>RegistrarAdministrador.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDocumento</servlet-name>
        <url-pattern>/ActualizarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDocumento</servlet-name>
        <url-pattern>/EliminarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImagen</servlet-name>
        <url-pattern>/ControladorImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAdministrador</servlet-name>
        <url-pattern>/RegistrarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionAdministrador</servlet-name>
        <url-pattern>/IniciarSesionAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperarContraseña</servlet-name>
        <url-pattern>/recuperarContrase_a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>literal</servlet-name>
        <url-pattern>/literal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarContrasenia</servlet-name>
        <url-pattern>/RecuperarContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AñadirAlCarrtio</servlet-name>
        <url-pattern>/A_adirAlCarrtio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
